<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Top Left: Site Name -->
      <div class="footer-site-name">
        <data class="u-url" href="{{ "/" | relative_url }}">Decatur Supper Club</data>
      </div>
      
      <!-- Top Right: Navigation & Policy Links -->
      <div class="footer-links">
        <div class="footer-col">
          {% for item in site.data.navigation %}
            <a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a>
          {% endfor %}
        </div>
        <div class="footer-policy-links">
          <a href="{{ '/terms-of-use' | relative_url }}">Terms of Use</a>
          <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a>
          <a href="{{ '/sitemap.xml' | relative_url }}">Sitemap</a>
        </div>
      </div>
      
      <!-- Bottom Right: RSS Feed -->
      <div class="footer-made-in-decatur">
        <div>Made with ❤️ in Decatur, GA</div>
      </div>
      <div class="footer-rss">
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M200-120q-33 0-56.5-23.5T120-200q0-33 23.5-56.5T200-280q33 0 56.5 23.5T280-200q0 33-23.5 56.5T200-120Zm480 0q0-117-44-218.5T516-516q-76-76-177.5-120T120-680v-120q142 0 265 53t216 146q93 93 146 216t53 265H680Zm-240 0q0-67-25-124.5T346-346q-44-44-101.5-69T120-440v-120q92 0 171.5 34.5T431-431q60 60 94.5 139.5T560-120H440Z"/></svg>
          <span>RSS feed</span>
        </a>
      </div>
    </div>
  </div>
</footer>