$font-body: 'McLaren', sans-serif;
$font-headings: 'Kranky', serif;
$font-base-size: 16px;
$primary-brand-color: #cd293a;
$secondary-brand-color: #469e0e;
$site-background-color: #f6f5ef;
$accent-color: #ffffff;